<h3>Cart</h3>

<div *ngFor="let item of (items$ | async)">
    {{ item.name }} - ₹{{ item.price }} x {{ item.quantity }}

    <button (click)="remove(item.id)">Remove</button>
</div>

<h4>Total: ₹{{ total$ | async }}</h4>

<button (click)="clear()">Clear Cart</button>

<hr />

<div class="bg-success-subtle">
<h3>Cart using Signal</h3>
    <div class="cart-icon">
        Items: {{ cartService.count() }}
    </div>

    @for (item of cartService.items(); track item.id) {
    <p>{{ item.name }} - ₹{{ item.price }} x {{ item.quantity }}
    </p>
    }

    <h4>For Luxary Item: ₹{{ cartService.totalLuxury() }}</h4>
</div>